<div id="content-loader" [ngClass]="hasShowLoading()">
  <div id="loader">
      <div id="loader4"></div>
      <div id="antiLoader4"></div>
      <div id="dragon-logo"></div>
  </div>
  <div id="mensaje-loading" class="mensaje-loading"></div>
</div>
