.loading
  bottom: 0
  height: 100%
  left: 0
  margin: auto
  position: fixed
  right: 0
  top: 0
  width: 100%
  z-index: 11100
  background-color: rgba(210, 210, 210, 0.54)

#loader
  bottom: 0
  height: 175px
  left: 0
  margin: auto
  position: absolute
  right: 0
  top: 0
  width: 175px
  display: none

.loading #loader
  display: block

#loader4
  position: absolute
  left: 65px
  top: 30px
  height: 100px
  width: 100px
  border: 8px solid rgba(255,255,255,0)
  border-top: 8px solid #ED1C24
  border-bottom: 8px solid #ED1C24
  border-radius: 50%
  animation: spin_4 2s linear infinite

@keyframes load
  100%
    opacity: 0
    transform: scale(1)

@keyframes spin_4
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

#antiLoader4
  position: absolute
  left: 75px
  top: 40px
  height: 80px
  width: 80px
  border: 8px solid rgba(255,255,255,0)
  border-left: 8px solid #ED1C24
  border-right: 8px solid #ED1C24
  border-radius: 50%
  animation: spin_5 2s linear infinite reverse

@keyframes spin_5
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

.loading #dragon-logo
  width: 50px
  height: 50px
  position: absolute
  top: 0
  right: 0
  bottom: 5px
  left: 70px
  margin: auto
  animation: rotation 3s infinite linear
  content: url(/assets/images/logo-usfq.svg)

@keyframes rotation
  100%
    transform: rotatey(360deg)

